server:
  port: 8082

spring:
  application:
    name: microservicio-operaciones
  
  datasource:
    url: jdbc:postgresql://postgres:5432/operaciones_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

google:
  maps:
    api-key: ${GOOGLE_MAPS_API_KEY:AIzaSyAQ1jB70HPqwOyh0bceV3BqRbaIHXH37_A}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
